@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Website theme colors */

:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-2: hsl(var(--hue-2), 100%, 60%);
  --bg-color: hsl(var(--hue-2), 80%, 55%);
  --bg-color-1: hsl(var(--hue-1), 100%, 97%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255,255,255,0.6);
  --heading-color: hsl(var(--hue-1),61%,24%);
  --text-color: hsl(var(--hue-1),17%,63%);

} 


/* General styling */

*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  background-color: var(--big-color);
  font-family: "Poppins", sans-serif;

}

/* this styling for when the text of the navbar is highlighted with a cursor for ex */

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: var(--bg-color-2);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* NavBar styling */

header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index:10;
}